APP_NAME="Todo API"
APP_ENV=local
APP_HOST=127.0.0.1
APP_PORT=8000
DATABASE_URL=postgresql://postgres:YOUR_PASSWORD@db.your-project-ref.supabase.co:5432/postgres
JWT_SECRET=change-me
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=15
JWT_REFRESH_TOKEN_EXPIRE_DAYS=30
RUST_LOG=debug
